<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Alm.CredentialHelper.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--
    To read/write credentials to other formats set the "StorageFormats" value
    It expects a ';' seperated list of the name of format functions.
    Currently supported ones are:
    UriToActualUrl - Default - sets 'hg:http(s)://username@domain'
    UriToMercurialKeyringNamePerRepository - Mercurial_Keyring comptible per user per repository - user@@http(s)://domain/path@Mercurial
    UriToMercurialKeyringNamePerHost - Pseudo Mercurial_Keyring per user per host - user@@http(s)://domain@Mercurial
    
    <add key="StorageFormats" value="UriToActualUrl;UriToMercurialKeyringNamePerRepository;UriToMercurialKeyringNamePerHost"/>
    -->
  </appSettings>

</configuration>